{% extends 'base.html' %}
{% block content %}
<h2 class="m-3">Profile</h2>
<hr>
<div class="m-2">
<div class="row">
<div class="col-sm-6">
    <p>Name : {{pro}}</p>
    <p>Age  : {{pro.age}}</p>
    <p>Gender: {{pro.gender}}</p>
    <p>Address : {{pro.address}}</p>
    <p>Phone : {{pro.phone_no}}</p>
    <a class="btn btn-dark" href="/accounts/profile/edit/{{pro.id}}">Edit Profile</a></div>
<div class="col-sm-6">
    <img src="{{pro.dp.url}}" alt="listing-photo" class="img-fluid" style="width:300px; height:190px">
</div>
    </div>
    </div>
{% endblock %}